# Versiones de los contenedores
MYSQL_VERSION=8-oracle
PHPMYADMIN_VERSION=latest

# Puertos para PhpMyAdmin y MySQL
MYSQL_PORT=3306
PHPMYADMIN_PORT=8080

# Variables de configuración para el entorno de desarrollo
MYSQL_ROOT_PASSWORD=12345Abcde
MYSQL_DATABASE=egibide
MYSQL_USER=egibide
MYSQL_PASSWORD=12345Abcde

# Prefijo para los contenedores
COMPOSE_PROJECT_NAME=mysql8

# Límites de recursos
LIMITE_MEMORIA=4G
LIMITE_UPLOAD_SIZE=1G
LIMITE_TIMEOUT_PHP=600
